@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width:100%;
    height:100vh;
    background-color: #246ca7;
    display: flex;
}

.container .imgBx {
    position: relative;
    width: 450px;
    height: 100%;
    background: url("./img/sparkler-677774_1920.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.container .countdownBx {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 450px);
}

.container .countdownBx h2 {
    text-align: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    line-height: 3em;
}


.container .countdownBx h2 span {
    font-size: 4em;
    font-weight: 800;
}

.container .countdownBx h2 span i {
    font-style: initial;
    color:rgb(231, 231, 24);
}

.countdown {
    margin-top: 20px;
    background: rgba(0,0,0,.1);
    width:100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    position: relative;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight:500;
    margin: 0 15px;
    margin-top: -25px;
}

.countdown div:before {
    content: 'text';
    position: relative;
    text-align: center;
    bottom:-30px;
    left: 45px;
    color: #fff;
    font-size: 0.35em;
    font-weight: 500;
    line-height:35px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.countdown div#day:before {
    content: 'Days';
}

.countdown div#hour:before {
    content: 'Hours';
}

.countdown div#minute:before {
    content: 'Minutes';
}

.countdown div#second:before {
    content: 'Seconds';
}

.countdown div#second,
.countdown div#second:before {
    color:rgb(231, 231, 24);
}

@media (max-width:991px) {
    .container .imgBx {
        display: none;
    }

    .container .countdownBx {
        width: 100%;
    }
}

@media (max-width:600px) {
    .container .countdownBx h2 {
        text-align: center;
        font-size: 1.5em;
    }
}
